* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(https://i.pinimg.com/originals/6f/0f/5f/6f0f5fc4ea58173c66424c599ca05247.jpg);
}

.gameBoard {
  width:70%;
  height: 70%;
  min-width: 60%;
  border: 15px inset #23a023;
  margin: 0 auto;
  position: relative;
  overflow: hidden;
  background: linear-gradient(#87ceeb, #e0f6ff);
}

#pipe {
  position: absolute;
  bottom: 0;
  width: 5rem;
  animation: pipe-animation 1.2s infinite linear;
}

#mario {
  width: 9.375rem;
  position: absolute;
  bottom: 0;
}

.jump {
  animation: jump 500ms ease-out;
}

.score {
  position: absolute;
  font-size: 1.5rem;
  font-family: Impact, 'Arial Narrow Bold', sans-serif;
  font-weight: 400;
  background: #e0f6ff;
  border: 5px double;
  padding: 0.3rem;
  margin: 0.5rem;
  font-weight: 800;
  z-index: 1000; /*regula a camada do elemento */
}

#clouds {
  position: absolute;
  width: 34.25rem;
  animation: clouds-animation 20s infinite linear;
}

#gameOver {
  display: none;
  position: absolute;
  /* display: flex; */
  align-items: center;
  justify-content: center;
  flex-direction: column;
  z-index: 999;
  width:70%;
  height: 70%;
  min-width: 60%;
  background: #00000960;

}

#gameOver h2 {
  color: #fff;
  font-size: 5rem;
  font-family: Impact, 'Arial Narrow Bold', sans-serif;
}

#restartBtn {
  background-color: #fbeee0;
  border: 2px solid #422800;
  border-radius: 30px;
  box-shadow: #422800 4px 4px 0 0;
  color: #422800;
  cursor: pointer;
  display: inline-block;
  font-weight: 600;
  font-size: 18px;
  padding: 0 18px;
  line-height: 50px;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  margin-top: 20px;
}

#restartBtn:hover {
  background-color: #fff;
}

#restartBtn:active {
  box-shadow: #422800 2px 2px 0 0;
  transform: translate(2px, 2px);
}

@media (min-width: 768px) {
  .restartBtn {
    min-width: 120px;
    padding: 0 25px;
  }
}

@keyframes pipe-animation {
  from {
    right: -80px;
  }

  to {
    right: 100%;
  }
}

@keyframes jump {
  0% {
    bottom: 0;
  }

  40% {
    bottom: 180px;
  }

  50% {
    bottom: 180px;
  }

  60% {
    bottom: 180px;
  }

  100% {
    bottom: 0;
  }
}

@keyframes clouds-animation {
  from {
    right: -550px;
  }

  to {
    right: 100%;
  }
}
